<div class="container" data-ng-controller="HeaderController">
	<div class="navbar-header">
		<button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a href="/#!/" class="navbar-brand" translate="brand"></a>
	</div>
	<nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
        <ul class="nav navbar-nav navbar-right">
            <li class="hidden active">
                <a href="#page-top"></a>
            </li>
            <li>
                <a href="#!/salle" translate="header.salle"></a>
            </li>
            <li>
                <a href="#!/activites" translate="header.activities"></a>
            </li>
            <li>
                <a href="#!/planning" translate="header.schedule"></a>
            </li>
            <li>
                <a href="#!/coaching" translate="header.coaching"></a>
            </li>
            <li>
                <a href="#!/osteopathie" translate="header.osteopathy"></a>
            </li>
            <li>
                <a href="#!/contact" translate="header.contact"></a>
            </li>
        </ul>
	</nav>
</div>
