<section data-ng-controller="HomeController">
    <div class="row highlight">
        <div class="col-xs-12 col-sm-8 col-md-8">
            <img alt="slide1" class="img-responsive text-left" src="modules/core/img/slider01.jpg" />
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 details">
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <div class="row">
                        <div class="col-xs-12 brand">Magic Form</div>
                        <div class="col-xs-12 city">Fontenay aux Roses</div>
                        <div class="col-xs-12 city">Thorigny sur Marne</div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 practical">
                    <div class="row">
                        <div class="col-xs-12 address-block">
                            <div class="address">
                                <h3>Adresse :</h3>
                                <span>2 Rue des Salvatres</span>
                                <span>77400 Thorigny sur Marne</span>
                            </div>
                        </div>
                        <div class="col-xs-12 contact-block">
                            <div class="contact">
                                <h3>Contact :</h3>
                                <a class="phone" ng-href="tel:0130405060">01 30 40 50 60</a>
                                <a class="mail" ng-href="mailto:bonheur@magic-form-tsm.com">bonheur@magic-form-tsm.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
