<section data-ng-controller="HomeController">
    <div class="row highlight">
        <div class="col-xs-12 col-sm-8 col-md-8">
            <img alt="slide1" class="img-responsive text-left" src="modules/core/img/slider01.jpg" />
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 details">
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <div class="row">
                        <div class="col-xs-12 brand" translate="brand"></div>
                        <div class="col-xs-12 city" translate="address.city"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 practical">
                    <div class="row">
                        <div class="col-xs-12 address-block">
                            <div class="address">
                                <a class="" ng-href="#!/contact">
                                    <h3 translate="address.header"></h3>
                                    <span translate="address.line1"></span>
                                    <span translate="address.line2"></span>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-12 contact-block">
                            <div class="contact">
                                <h3 translate="contact.header"></h3>
                                <a class="phone" ng-href="{{ 'tel:' + phone }}"
                                   translate="contact.phone"
                                   translate="contact.email"
                                   analytics-on="click"
                                   analytics-event="contactPhone"
                                   analytics-category="contact"
                                   analytics-label="Contact Phone"></a>
                                <a class="mail" ng-href="{{ 'mailto:' + email }}"
                                   translate="contact.email"
                                   analytics-on="click"
                                   analytics-event="contactEmail"
                                   analytics-category="contact"
                                   analytics-label="Contact Email"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <h3 translate="schedule.header"></h3>
        </div>
        <div class="col-xs-12 col-sm-8 schedule">
            <div class="day" ng-class="{active: currentDay === 1}">
                <div class="day-name" translate="schedule.1.name"></div>
                <div class="hour" translate="schedule.1.hour"></div>
            </div>
            <div class="day" ng-class="{active: currentDay === 2}">
                <div class="day-name" translate="schedule.2.name"></div>
                <div class="hour" translate="schedule.2.hour"></div>
            </div>
            <div class="day" ng-class="{active: currentDay === 3}">
                <div class="day-name" translate="schedule.3.name"></div>
                <div class="hour" translate="schedule.3.hour"></div>
            </div>
            <div class="day" ng-class="{active: currentDay === 4}">
                <div class="day-name" translate="schedule.4.name"></div>
                <div class="hour" translate="schedule.4.hour"></div>
            </div>
            <div class="day" ng-class="{active: currentDay === 5}">
                <div class="day-name" translate="schedule.5.name"></div>
                <div class="hour" translate="schedule.5.hour"></div>
            </div>
            <div class="day" ng-class="{active: currentDay === 6}">
                <div class="day-name" translate="schedule.6.name"></div>
                <div class="hour" translate="schedule.6.hour"></div>
            </div>
            <!-- <div class="day" ng-class="{'active': currentDay === 0 || currentDay === 7}">
                <div class="day-name" translate="schedule.7.name"></div>
                <div class="hour" translate="schedule.7.hour"></div>
            </div> -->
        </div>

        <div class="col-xs-12 col-sm-4 download-planning">
            <a class="btn btn-primary btn-block"
               translate="home.callToAction"
               href="http://www.magic-form.fr/pre-inscriptions-magic-form-fontenay-aux-roses/"
               analytics-on="click"
               analytics-event="registration"
               analytics-category="registration"
               analytics-label="Home Pre registration"></a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 address-block">
            <div class="headline">
                <h3>Réduction sur les frais d'inscriptions pour les 150 premiers !</h3>
            </div>
        </div>
    </div>
</section>
