<section data-ng-controller="OsteopathyController">
	<h1 data-translate="osteopathy.title"></h1>
  <!-- <h3 data-translate="osteopathy.subtitle"></h3> -->
  <p data-translate="osteopathy.paragraph1"></p>
  <!-- <p data-translate="osteopathy.paragraph2"></p> -->

  <!-- <ul>
    <li data-translate="osteopathy.item1"></li>
    <li data-translate="osteopathy.item2"></li>
    <li data-translate="osteopathy.item3"></li>
    <li data-translate="osteopathy.item4"></li>
    <li data-translate="osteopathy.item5"></li>
  </ul> -->
  <strong data-translate="osteopathy.availability"></strong>
  <br/>
  <p data-translate="osteopathy.footer"></p>
  <br/>
  <p>
    <img width="80%" style="text-align: center" src="modules/core/img/activity/2015-11-01_@MagicformFAR_esthetique.JPG">
  </p>
</section>
