#categories {
  height: 500px;
}

#activities {
  height: 500px;

  .activity {
    background-color: $brand-primary;
  }
}

.category {
  color: $white;
  text-align: center;

  .content {
    @include user-select(none);
    background-color: #967ADC;
    cursor: pointer;
    height: 220px;
    margin: 1em;
    position: relative;

    .glyphicon, span {
      display: block;
      height: 50%;
      width: 100%;
      position: absolute;
    }

    .glyphicon {
      top: 50px;
      font-size: 3em;
    }

    span {
      bottom: 0;
      font-size: 1.5em;
    }
  }

  &:nth-of-type(2) {
    .content {
      background-color: $brand-primary;
    }
  }

  &:nth-of-type(3) {
    .content {
      background-color: #D770AD;
    }
  }

  &:nth-of-type(4) {
    .content {
      background-color: #37BC9B;
    }
  }

  &:nth-of-type(5) {
    .content {
      background-color: #4A89DC;
    }
  }
}
