.highlight {
  .details {
    height: 100%;
    position: relative;

    .brand, .city {
      font-size: 1.5em;
      text-transform: uppercase;
    }

    .city {
      color: $brand-primary;
    }
  }

  .address, .contact {
    border: 1px solid $brand-primary;
    margin-top: 2em;
    padding: 1em;

    h3 {
      margin-top: 0;
    }
  }

  .address {
    a {
      color: $brand-gray-dark;
      text-decoration: none;
    }

    span {
      display: block;
    }
  }

  .contact {
    a {
      display: block;
    }
  }
}

.schedule {
  text-align: center;
  .day {
    background-color: $brand-gray;
    color: $brand-gray-dark;
    display: inline-block;
    height: 4em;
    margin-top: 1em;
    min-width: 70px;
    padding: 0.5em 0;
    text-align: center;
    width: 13.2%;

    &.active {
      background-color: $brand-gray-dark;
      color: $white;
    }

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      font-size: 0.8em;
      min-width: 60px;
    }
  }

  .day + .day {
    margin-left: 0.2%;
  }
}

.download-planning {
  height: 4em;
  margin-top: 1em;

  a {
    font-size: 1.8em;
    height: 100%;

  }
}

.headline {
  border-top: 1px solid $brand-primary;
  color: $brand-primary;
  margin-top: 3em;
  text-align: center;
}

.post {
  border-bottom: 1px solid $gray;
  padding-top: $padding-large-vertical;
  padding-bottom: $padding-large-vertical;

  img {
    max-width: 100%;
  }
}
