header {
  &.navbar {
    border-bottom: 3px solid $brand-primary;

    .navbar-brand {
      font-size: 1.8em;
    }
  }

  .nav > li > a {
    color: $brand-gray-dark;
    font-size: 1.2em;

    &:hover, &:active, &:focus {
      background-color: $brand-primary;
      color: $white;
    }
  }

  .nav > li.active {
    a {
      background-color: $brand-primary;
      color: $white;
    }
  }

  .navbar-toggle {
    border-color: $brand-primary;

    .icon-bar {
      background-color: $brand-primary;
    }
  }
}
