header {
  &.navbar {
    border-bottom: 3px solid $brand-primary;
    font-size: 1.5em;

    .navbar-brand {
      font-size: 1.5em;
    }
  }

  .nav > li > a {
    &:hover, &:active, &:focus {
      background-color: $brand-primary;
      color: $white;
    }
  }

  .navbar-toggle {
    border-color: $brand-primary;

    .icon-bar {
      background-color: $brand-primary;
    }
  }
}
