.highlight {
  .details {
    height: 100%;
    position: relative;

    .brand, .city {
      font-size: 1.5em;
      text-transform: uppercase;
    }

    .city {
      color: $brand-primary;
    }
  }

  .address, .contact {
    border: 1px solid $brand-primary;
    margin-top: 2em;
    padding: 1em;

    h3 {
      margin-top: 0;
    }
  }

  .address {
    span {
      display: block;
    }
  }

  .contact {
    a {
      display: block;
    }
  }
}

.schedule {
  text-align: center;
  .day {
    background-color: $brand-gray;
    color: $brand-gray-dark;
    display: inline-block;
    margin-top: 1em;
    min-width: 60px;
    padding: 0.5em 0;
    text-align: center;
    width: 13.3%;

    &.active {
      background-color: $brand-gray-dark;
      color: $white;
    }
  }

  .day + .day {
    margin-left: 0.5%;
  }
}

.download-planning {
  height: 100%;
  margin-top: 1em;
}
