/** Colors **/
$brand-primary: #DA4453;
$brand-gray-dark: darken(#D1CECC, 50%);
$brand-gray: #D1CECC;
$gray-dark: $brand-gray-dark;
$white: #FFF;
$body-bg: $white;

/** Navbar **/
$navbar-height: 50px;


/** Border Radius **/
$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;
$pager-border-radius: 0;

@import url(http://fonts.googleapis.com/css?family=Lato:400);
$font-family-sans-serif: 'Lato', Helvetica, Arial, sans-serif !default;

@import "../public/lib/bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "../public/modules/contact/style/contact-style";
@import "../public/modules/core/style/core-style";
@import "../public/modules/core/style/core-header-style";
@import "../public/modules/salle/style/salle-style";
