<section data-ng-controller="ActivityController">
	<div class="row">
        <div data-fa-app="fa-app" id="categories">
            <fa-grid-layout fa-options="categoriesLayoutOptions">
                <div data-fa-surface="fa-surface" class="category" data-fa-click="zoomOn('cardio')">
                    <div class="content">
                        <i class="glyphicon glyphicon-heart"></i>
                        <span>Cardio</span>
                    </div>
                </div>
                <div fa-surface="fa-surface" class="category" data-fa-click="zoomOn('renforcement')">
                    <div class="content">
                        <i class="glyphicon glyphicon-fire"></i>
                        <span>Renforcement</span>
                    </div>
                </div>
                <div fa-surface="fa-surface" class="category" data-fa-click="zoomOn('danse')">
                    <div class="content">
                        <i class="glyphicon glyphicon-leaf"></i>
                        <span>Danse</span>
                    </div>
                </div>
                <div fa-surface="fa-surface" class="category" data-fa-click="zoomOn('zen')">
                    <div class="content">
                        <i class="glyphicon glyphicon-send"></i>
                        <span>Zen</span>
                    </div>
                </div>
            </fa-grid-layout>
        </div>
	</div>
    <div class="row">
        <div data-fa-app="fa-app" id="activities">
            <fa-grid-layout data-fa-options="activitiesLayoutOptions">
                <fa-modifier data-ng-repeat="activity in activities[currentCategory] track by activity.id"
                             fa-animate-enter="enterAnimation(activity.t, $done)"
                             fa-animate-leave="leaveAnimation(activity.t, $done)"
                             fa-size="[undefined, 100]"
                             fa-origin="[0.5, 0.5]"
                             fa-align="[0.5, 0.5]"
                             fa-opacity="opacity(activity.t.get())">
                    <div data-fa-surface="fa-surface" class="activity">
                        {{ activity.name }}
                    </div>
                </fa-modifier>
            </fa-grid-layout>
        </div>
    </div>
</section>
