<section data-ng-controller="ActivityController">
	<div class="row">
        <div class="category">
            <div class="content">
                <i class="glyphicon glyphicon-heart"></i>
                <span>Cardio</span>
            </div>
        </div>
        <div class="category">
            <div class="content">
                <i class="glyphicon glyphicon-fire"></i>
                <span>Force</span>
            </div>
        </div>
        <div class="category">
            <div class="content">
                <i class="glyphicon glyphicon-leaf"></i>
                <span>Danse</span>
            </div>
        </div>
        <div class="category">
            <div class="content">
                <i class="glyphicon glyphicon-send"></i>
                <span>Mouvement</span>
            </div>
        </div>
        <div class="category">
            <div class="content">
                <i class="glyphicon glyphicon-flash"></i>
                <span>Training</span>
            </div>
        </div>
	</div>
</section>