<section data-ng-controller="ActivityController">
    <div class="row">
        <div id="activities">
            <div data-ng-repeat="activity in activities track by activity.name" class="activity">
                <div class="activity-content" ng-class="activity.category">
                    <h3>{{ activity.name }} - {{ activity.duration }}</h3>
                    <p>{{ activity.description }}</p>
                    <div data-level-icon="level-icon" data-level="{{ activity.level }}" data-size="activity.id * 10"></div>
                </div>
            </div>
        </div>
    </div>
</section>
