<section data-ng-controller="AdminController">
  <tabset justified="true">
    <tab heading="Textes">
      <json-editor schema="{}" startval="translations" buttons-controller="AsyncButtonsController" ng-if="translations">

        <button type="submit" class="btn btn-success" ng-click="onSubmit($event, 'translations')" ng-disabled="!isValid">
          <span class="fa fa-check"></span>
          Submit
        </button>

      </json-editor>
    </tab>
    <tab heading="Planning">
      <json-editor schema="{}" startval="planning" buttons-controller="AsyncButtonsController" ng-if="planning">

        <button type="submit" class="btn btn-success" ng-click="onSubmit($event, 'planning')" ng-disabled="!isValid">
          <span class="fa fa-check"></span>
          Submit
        </button>

      </json-editor>
    </tab>
  </tabset>


</section>
