$carousel-height: 300px;

.salle {
  article {

    .cardio-image {
      background: url('../modules/salle/img/cardio-header.jpg');
      background-position: 0px 18%;
      background-size: cover;
    }
    .libre-image {
      background: url('../modules/salle/img/libre-header.jpg');
      background-position: 0px 50%;
      background-size: cover;
    }
    .guide-image {
      background: url('../modules/salle/img/guide-header.jpg');
      background-position: 0px 60%;
      background-size: cover;
    }
    .classes-image {
      background: url('../modules/salle/img/classes-header.jpg');
      background-position: 0px 40%;
      background-size: cover;
    }
    .biking-image {
      background: url('../modules/salle/img/biking-header.jpg');
      background-position: 0px 31%;
      background-size: cover;
    }
    .freedom-image {
      background: url('../modules/salle/img/freedom.jpg');
      background-position: 0px 18%;
      background-size: cover;
    }
    .trx-image {
      background: url('../modules/salle/img/trx-header.jpg');
      background-position: 0px 41%;
      background-size: cover;
    }
    .rest-image {
      background: url('../modules/salle/img/rest-header.jpg');
      background-position: 0px 71%;
      background-size: cover;
    }
    
    header {
      cursor: pointer;
      height: 200px;
      margin-bottom: 1em;
      padding-right: 0;
      padding-left: 0;
      position: relative;

      .overlay {
        background-color: $brand-gray-dark;
        height: 200px;
        opacity: 0.6;
        width: 100%;
      }

      .title {
        background-color: rgba(255,255,255, 0.8);
        border-bottom: none;
        padding: 1em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        h2 {
          color: $brand-primary;
          margin-top: 0;
          margin-bottom: 0;
          opacity: 1;
        }
      }
    }

    .text {
      min-height: $carousel-height;
    }

    .text.ng-hide {
      opacity: 0;
      height: 0;
    }

    .image {
      height: $carousel-height;
      padding-right: 0;
      padding-left: 0;

      .carousel, .carousel .carousel-inner {
        height: $carousel-height;

        .carousel-indicators .carousel-inner > .item > img {
          height: $carousel-height;
          width: auto;
        }
      }
    }
  }

  article + article {
    margin-top: 3em;
  }
}
