.salle {
  article {
    .title {
      border-bottom: 2px solid $brand-primary;
      color: $brand-primary;
      height: 4em;
      line-height: 4em;
      margin-bottom: 1em;
      padding: 1em 0;
      vertical-align: middle;

      h2 {
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    img {
      display: block;
      height: 200px;
      margin: auto;

      @media (min-width: $screen-sm-min) {
        height: auto;
        width: 100%;
      }
    }
  }

  article + article {
    margin-top: 3em;
  }

}
