<section data-ng-controller="PostsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Évènements</h1>
    </div>
    <div class="list-group">
        <a class="btn btn-primary" href="#!/posts/create" data-ng-if="authentication.user._id">
            <i class="fa fa-plus"> Nouveau</i>
        </a>
    </div>
    <div class="list-group posts">
        <a data-ng-repeat="post in posts" data-ng-href="#!/posts/{{post._id}}" class="list-group-item post" data-ng-class="{'major': post.major}">
			<small class="list-group-item-text">
				Le 
				<span data-ng-bind="post.created | date:'dd/MM/yyyy'"></span>
			</small>
			<h2 class="list-group-item-heading" data-ng-bind="post.name"></h2>
            <div data-ng-bind-html="post.content"></div>
        </a>
    </div>
</section>
