<section data-ng-controller="ContactController">
    <div class="row">
        <h2 class="col-xs-12" data-translate="access.title"></h2>
        <div class="col-xs-12 access">
            <p>
                <span data-translate="address.line1"></span>
                <span data-translate="address.line2"></span>
            </p>
            <h3 data-translate="access.byCar.header"></h3>
            <p data-translate="access.byCar.details"></p>
            <h3 data-translate="access.byBus.header"></h3>
            <img alt="Ligne 20" class="img-responsive line" src="modules/contact/img/194genRVB.png" />
            <img alt="Ligne 21" class="img-responsive line" src="modules/contact/img/394genRVB.png" />
            <img alt="Ligne 22" class="img-responsive line" src="modules/contact/img/594genRVB.png" />
            <h3 data-translate="access.byTrain.header"></h3>
            <img alt="RER A" class="img-responsive line" src="modules/contact/img/RER_B.png" />
        </div>
        <div class="col-xs-12 map-container">
            <div google-map="google-map" id="adlen" data-center="map.center" data-zoom="map.zoom">
                <div data-marker="marker" data-coords="salle.coords" data-idkey="salle.id"></div>
                <div data-markers="markers" data-models="transports" data-coords="'coords'" data-icon="'icon'"></div>
                </div>
            </div>
        </div>
    </div>
</section>
