<section data-ng-controller="SalleController" class="salle">
    <div class="row">
        <h1 class="col-xs-12">La salle</h1>
    </div>

    <article class="row cardio">
        <header class="row cardio-image">
            <div class="overlay"></div>
            <div class="text-center title">
                <h2>Espace cardio</h2>
            </div>
        </header>
        <div class="col-xs-12 col-sm-8 text">
            <p>
                Efficace et indispensable pour la bonne forme physique, l’espace cardio repose sur un large choix de machines haut de gamme :
            </p>
            <ul>
                <li>Vélos</li>
                <li>Pédalos (vélo assis)</li>
                <li>Steppers</li>
                <li>Elliptiques</li>
                <li>Tapis de course ou de marche</li>
                <li>Rameurs</li>
                <li>Escalators</li>
                <li>...</li>
            </ul>
            <p>
                Tous complémentaires et efficaces pour l’ensemble du corps. Indispensable dans un objectif de prévention santé pour améliorer la fréquence cardiaque à l’effort, la récupération, le souffle, l’espace CARDIO vous permettra aussi d’affiner votre silhouette en brulant un maximum de calories et d’améliorer votre condition physique.
            </p>
        </div>
        <div class="col-xs-12 col-sm-4">
            <img src="modules/salle/img/cardio.jpg">
        </div>
    </article>

	<article class="row">
        <header class="row libre-image">
            <div class="overlay"></div>
            <div class="text-center title">
                <h2>Musculation Libre</h2>
            </div>
        </header>
        <div class="col-xs-12 col-sm-4">
            <img src="modules/salle/img/libre.jpg">
        </div>
        <div class="col-xs-12 col-sm-8 text">
            <p>
                Uniquement destinée au développement musculaire avec barres, haltères, bancs et machines de dernière génération, afin de développer chacun des muscles du corps. Les charges libres offrent aux habitués une intensité plus importante.
            </p>
        </div>
	</article>

	<article class="row">
        <header class="row guide-image">
            <div class="overlay"></div>
            <div class="text-center title">
                <h2>Renforcement musculaire</h2>
            </div>
        </header>
        <div class="col-xs-12 col-sm-8 text">
            <p>
                Les appareils guidés facilitent l’apprentissage des mouvements aux personnes débutantes qui souhaitent améliorer leur posture, raffermir, tonifier leur corps ou redessiner leur silhouette en toute sécurité.
            </p>
        </div>
        <div class="col-xs-12 col-sm-4">
            <img src="modules/salle/img/guide.jpg">
        </div>
	</article>

	<article class="row classes">
        <header class="row classes-image">
            <div class="overlay"></div>
            <div class="text-center title">
                <h2>Cours collectifs</h2>
            </div>
        </header>
        <div class="col-xs-12 col-sm-4">
            <img src="modules/salle/img/classes.jpg">
        </div>
        <div class="col-xs-12 col-sm-8 text">
            <p>
                Photos.
            </p>
        </div>
	</article>

	<article class="row biking">
        <header class="row biking-image">
            <div class="overlay"></div>
            <div class="text-center title">
                <h2>Espace biking</h2>
            </div>
        </header>
        <div class="col-xs-12 col-sm-8 text">
            <p>
                Entrer dans l’espace biking c’est s’immerger dans un autre univers. Sous la direction d'un coach qui entraîne le groupe de participants, vous "roulez" au rythme d’une musique stimulante doublée d'effets de lumières et vous pédalez en accord avec le tempo, en contrôlant vous-même l’intensité de votre effort (par votre propre réglage de résistance) et la vitesse que vous donnez aux pédales. Les vélos sont spécialement conçus pour l’activité. Une expérience unique pour éliminer, s’évader ou oublier...
            </p>
        </div>
        <div class="col-xs-12 col-sm-4">
            <img src="modules/salle/img/biking.jpg">
        </div>
	</article>

	<article class="row freedom">
        <header class="row freedom-image">
            <div class="overlay"></div>
            <div class="text-center title">
                <h2>Espace liberté</h2>
            </div>
        </header>
        <div class="col-xs-12 col-sm-4">
            <img src="modules/salle/img/freedom.jpg">
        </div>
        <div class="col-xs-12 col-sm-8 text">
            <p>
                Le sur-mesure pour toutes vos idées, n'hésitez pas à nous en proposer de nouvelles !
            </p>
            <ul>
                <li>Corde à sauter</li>
                <li>Sac de frappe</li>
                <li>Anneaux</li>
                <li>COrde</li>
                <li>Escaliers</li>
                <li>Swiss ball</li>
                <li>Stretching</li>
                <li>Abdos</li>
                <li>...</li>
            </ul>
        </div>
	</article>

	<article class="row trx">
        <header class="row trx-image">
            <div class="overlay"></div>
            <div class="text-center title">
                <h2>TRX</h2>
            </div>
        </header>
        <div class="col-xs-12 col-sm-8 text">
            <p>
                Le TRX est un système d’entrainement accessible à tous, quelque soit votre âge et votre condition physique ! Conçu à partir de sangle de parachute, il permet de travailler vos muscles profonds en utilisant le poids de votre corps. Une silhouette dessinée, une sangle abdominale renforcée, pour un corps ferme et tonique. Le TRX séduit aussi bien les sportifs chevronnés que les novices et fans de fitness.
            </p>
        </div>
        <div class="col-xs-12 col-sm-4">
            <img src="modules/salle/img/trx.jpg">
        </div>
	</article>

	<article class="row rest">
        <header class="row rest-image">
            <div class="overlay"></div>
            <div class="text-center title">
                <h2>Espace détente</h2>
            </div>
        </header>
        <div class="col-xs-12 col-sm-4">
            <img src="modules/salle/img/rest.jpg">
        </div>
        <div class="col-xs-12 col-sm-8 text">
            <p>
                Après le sport, le réconfort !
                Avec le Wi-fi :)
            </p>
        </div>
	</article>
</section>