<section data-ng-controller="SalleController">
	This is the Salle view.

	<pre>
		Espace cardio : Efficace et indispensable pour la bonne forme physique, l’espace cardio

repose sur un large choix de machines haut de gamme : 

-vélos, 

-pédalos (vélo assis), 

-steppers, 

-elliptiques, 

-tapis de course ou marche, 

-rameurs, 

-escalator.... tous complémentaires et efficaces pour l’ensemble du corps.

Indispensable dans un objectif de prévention santé pour améliorer la fréquence cardiaque à 

l’effort, la récupération, le souffle, l’espace CARDIO vous permettra aussi d’affiner votre 

silhouette en brulant un maximum de calories et d’améliorer votre condition physique.

Muscu libre : Uniquement destinée au développement musculaire avec barres, haltères, bancs 

et machines de dernière génération, afin de développer chacun des muscles du corps. Les 

charges libres offrent aux habitués une intensité plus importante.

Muscu guidée : Les appareils guidés facilitent l’apprentissage des mouvements aux personnes

débutantes qui souhaitent améliorer leur posture, raffermir, tonifier leur corps ou redessiner 

leur silhouette en toute sécurité.

Cours collectifs : photos

Espace biking : entrer dans l’espace biking c’est s’immerger dans un autre univers. Sous la 

direction d'un coach qui entraîne le groupe de participants, vous "roulez" au rythme d’une 

musique stimulante doublée d'effets de lumières et vous pédalez en accord avec le tempo, en 

contrôlant vous-même l’intensité de votre effort (par votre propre réglage de résistance) et la 

vitesse que vous donnez aux pédales. 

Les vélos sont spécialement conçus pour l’activité. Une expérience unique pour éliminer, 

s’évader ou oublier...

Espace liberté : pour du sur-mesure. 

-corde à sauté

-sac de frappe

-anneaux

-corde

-espaliers

-swiss ball

-stretching

-abdos

-trx

Le TRX est un système d’entrainement accessible à tous, quelque soit votre âge et votre 

condition physique !

Conçu à partir de sangle de parachute, il permet de travailler vos muscles profonds en utilisant 

le poids de votre corps.

Une silhouette dessinée, une sangle abdominale renforcée, pour un corps ferme et tonique.

Le TRX séduit aussi bien les sportifs chevronnés que les novices et fans de fitness.

Espace détente : après le sport, le réconfort ! parler de l’accès wifi
	</pre>
</section>