<section data-ng-controller="CoachingController">
	<h1>Atteignez vos objectifs</h1>
	<h2>Demandez votre Coach Personnel !</h2>
	<p>
		Toute l'attention sera essentiellement concentré sur vous.  Toute l'énergie de notre coach, tout son savoir-faire est à votre unique service afin d'atteindre vos objectifs et pour que vous exploitiez le meilleur de vous-même...
	</p>
	<p>
		29€ l'heure, renseignements et RDV en club
	</p>

	<h2>Autre type de coaching possible?</h2>
	<p>Groupe d'entraide ? (En vrai / FB / Forum)</p>
	<p>Intervention de professionels (Coachs connus, nutritioniste, Sportif...) ?</p>
 
</section>