<section data-ng-controller="CoachingController">
	<h1 data-translate="coaching.title"></h1>
	<h2 data-translate="coaching.subtitle"></h2>
  <p data-translate="coaching.paragraph1"></p>
  <p data-translate="coaching.paragraph2"></p>

  <h3>Anthony</h3>
  <div class="row">
    <div class="col-xs-12">
      <div>Lundi : -</div>
      <div>Mardi : 17h30 - 21h</div>
      <div>Mercredi : 17h30 - 21h</div>
      <div>Jeudi : 9h - 13h</div>
      <div>Vendredi : -</div>
      <div>Samedi : -</div>
      <div>Dimanche : -</div>
    </div>
  </div>
  <br/>

  <h2 data-translate="coaching.subtitleCoachingPerso"></h2>
  <p data-translate="coaching.paragraph3"></p>
	<p data-translate="coaching.footer"></p>
</section>
